body{
    margin:0;
    
}

hr{
    height: 1px;
   background-color: #ccc;
  border: none;
}
nav{
    background-color:  #3F72E9;
    height: 56px;  
   
    
}
nav li{
    list-style: none;
    color:#FFFFFF;
    
}
nav ul{
    display: flex;
    margin:0
    
}
nav a{
    text-decoration: none;
    color:#FFFFFF
}

.searchbar{
margin-top: 5px;
width: 600px;
height: 40px;
}
.logo{
    margin-top:15px;
    margin-right: 10px;
    padding-left: 250px;
}
.become-seller{
   
    margin-top:15px;
    margin-right: 10px;
    padding-left: 5px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;

}

.cart{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top:15px;
    margin-right: 10px;
    padding-left: 10px;
}

.product{
    display: flex;
    padding: 30px;
   
}
.phone-image{
    width: 204px;
height: 220px;
}

.product-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
margin-bottom: 0;
}
.product-Details{
    margin-left: 30px;
}
.product-name a{
    text-decoration: none;
    color: #000000;
   

}

.ratings{
    display: flex;
   
}

.rating-pill{
    width: 30px;
    height: 15px;
    margin-top: 18px;
    margin-right: 5px;
}
.specifications{
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.specifications li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}

.product-pricing{
    margin-left: 420px;
}
.product-pricing li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
}

.product-pricing ul{
    padding-left: 30px;
    list-style: none;
    margin: 0;
    line-height: 14px;
}

.price{
    font-family: 'Roboto';
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 25px;
   
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
}

.offers{
    color: #508C47;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;

}

.bank-offers{
    color: #508C47;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
}

footer{
 display: flex;
height: 284px;
left: 0px;
top: 1396px;
justify-content: space-around;
background: #1A2335;
}

footer h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #878787;
}
footer p{
    width: 250px;
    text-align: left;
}

footer ul{
 list-style: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 25px;
color: #FFFFFF;
}
.vl{

border-left: 2px solid #878787; ;
  height: 100px;
  margin-top: 54px;
}
.telephone{
    color:#3D72E8
}